<?xml version="1.0"?>
<config>
    <modules>
        <ProxiBlue_OrderSyncQueRunner>
            <version>0.0.2</version>
        </ProxiBlue_OrderSyncQueRunner>
    </modules>
    <global>
        <blocks>
            <ordersyncquerunner>
                <class>ProxiBlue_OrderSyncQueRunner_Block</class>
            </ordersyncquerunner>
        </blocks>
        <helpers>
            <ordersyncquerunner>
                <class>ProxiBlue_OrderSyncQueRunner_Helper</class>
            </ordersyncquerunner>
        </helpers>
        <models>
            <ordersyncquerunner>
                <class>ProxiBlue_OrderSyncQueRunner_Model</class>
                <resourceModel>ordersyncquerunner_resource</resourceModel>
            </ordersyncquerunner>
            <ordersyncquerunner_resource>
                <class>ProxiBlue_OrderSyncQueRunner_Model_Resource</class>
                <entities>
                    <que>
                        <table>ordersyncquerunner_que</table>
                    </que>
                </entities>
            </ordersyncquerunner_resource>
        </models>
        <resources>
            <ordersyncquerunner_setup>
                <setup>
                    <module>ProxiBlue_OrderSyncQueRunner</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordersyncquerunner_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <ordersyncquerunner_sales_order_place_after>
                        <type>singleton</type>
                        <class>ordersyncquerunner/observer</class>
                        <method>sales_order_place_after</method>
                    </ordersyncquerunner_sales_order_place_after>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <crontab>
        <jobs>
            <ordersyncquerunner_sync>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ordersyncquerunner/cron::sync</model>
                </run>
            </ordersyncquerunner_sync>
            <ordersyncquerunner_clean>
                <schedule>
                    <cron_expr>0 0 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>ordersyncquerunner/cron::clean</model>
                </run>
            </ordersyncquerunner_clean>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ProxiBlue_OrderSyncQueRunner after="Mage_Adminhtml">ProxiBlue_OrderSyncQueRunner</ProxiBlue_OrderSyncQueRunner>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
